body{
    background-image:url(fond.png);
    background-size: cover;
    background-repeat:no-repeat;
    color:white;
    margin: 0 auto;

}

img{
    float: left;
    width: 8vw;
}

nav{

    font-size: 200%;
    margin: 0 ;
    padding: 0 ;
    list-style: none ;
    text-align: center ;
}
nav li {
    display: inline-flex;
    margin-right: 1px ;
    color: #fff ;
    background-color: black ;
}
nav li a {
    padding: 4px ;
    background-color: black;
    color: #fff ;
    border: 1px solid black;
    border-radius:5px;
    font: 1em "Trebuchet MS",Arial,sans-serif ;
    line-height: 1em ;
    text-align: center ;
    text-decoration: none ;
}
nav li a:hover, nav li a:focus, nav li a:active {
    background-color: red;
    text-decoration: underline ;
}
h1 {
    font-size: 35px;
    text-align: center;

}
p {
    font-size 25px


#fondecran {
    /* Fixe l'image en haut à gauche de la page */
    position: fixed;
    top: 0;
    left : 0;
    /* Préserve le ratio de l'image */
    min-width: 100%;
    min-height: 100%;

}


section {
    margin: 100px;
    font: 1em "Trebuchet MS",Arial,sans-serif ;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(255, 255, 255);
    text-align: left;
    display: flex;
    font-size: 200%;
    border-top:rgb(255, 255, 255) solid;
    font: 1em "Trebuchet MS",Arial,sans-serif ;

}

#background_dark{
  background-color : rgb(50,50,50) ;
}
