body{display:block; float:left;
/* Préserve le ratio de l'image */
 min-width: 100%;
 min-height: 100%;
  background-image:url(https://www.wallpapertip.com/wmimgs/68-686268_background-image-for-website-homepage.jpg);
  background-size: cover;
background-repeat: no-repeat;
https://www.wallpapertip.com/wmimgs/68-686268_background-image-for-website-homepage.jpg}
#conteneur{ width: 100%; margin:  100%; border: 2px solid; }
header{  }
section{ 

  }
footer{   }
.clear{ clear: both; }
